@charset "UTF-8";

.webcontaner{
	width: 1024px;
	margin: 0 auto;
}

.wrapBox{
	margin-top: 50px;
	margin-bottom: 50px;
}

.conTitle{
	font-size: 35px;
}

.writerName{
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;	
}

.writeTime{
	font-size: 13px;
	color: #59515E;
	border-bottom: 1px solid #59515E; 
}

.conWriterBox{
	display: flex;
	justify-content: flex-start;
	height : 30px;
	line-height: 30px;
	align-items: center;
	margin-bottom: 10px;
	padding-right: 5px;
	position: relative;
}

.memberImg img{
	width: 25px;
	height: 25px;
	border-radius: 50%
}

.memberImg{
	margin-right: 12px;
}

.iconImg img{
	width: 18px;
	margin-left: 10px;
}

.bornCon{
	margin-top: 50px;
	margin-bottom: 50px;
}

.btnBox{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #59515E;
}

.btnBox button{
	margin: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-style:none;

	opacity:0.5;
	background-color: white;
	line-height: 100px;
}

.btnBox button:hover {
		width: 105px;
		height:105px;
		border-radius: 50%;
		opacity:1.0;
}

.boomupImg{
	width: 60px;
}

.reviewBox{
	margin-top: 50px;
}

.reviewArea{
	width: 100%; 
	height: 100px;
	resize: none;
	margin-top: 10px;
	padding: 10px;
}

.reviewBtn{
	width: 100px;
	border-style: none;
	background-color: #2C2E30;
	color: white;
	border-radius: 5px;
	height: 30px; 
	margin-top: 10px;
}

.reviewBtn:hover {
	background-color: #DB3735;
}

.reconBox{
	margin-top: 50px;
	border-top: 1px solid #2C2E30; 
}

.rewriter{
	margin-top: 10px;
	font-size: 18px;
	display: flex;
	align-items: center;
	position: relative;
}

.reviewTime{
	font-size: 13px;
	color: #59515E;
}

.recon{
	margin-top: 10px;
}

.reReconBox{
	margin-top: 30px;
	margin-left: 30px;
	border-top: 1px solid #eeeeee; 
}

.rereviewArea{
	width: 50%; 
	height: 100px;
	resize: none;
	margin-top: 10px;
	padding: 10px;
}


.rerebox{
	display: flex;
	flex-direction: column;
}

.expImg img{
	width: 25px;
	height: 25px;
	position: absolute;
	left: 35px;
}

.reExpImg img{
	width: 25px;
	height: 25px;
	position: absolute;
	left: 35px;
}

.hoverIconBtn:hover{
	cursor: pointer;
}